.big{
    background-color: rgb(204, 231, 30);
    width: 60%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid bisque;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.imagep{
    width: 100px;
    height: 100px;
}